* {
    padding: 0;
    margin: 0;
    box-sizing: unset;
    color: #f2f2f2;
    font-family: sans-serif;
}

body {
    background-color: #3a127c;
}

h1 {
    text-align: center;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 25vh 0 20px;
    background-color: #2c134d;
    padding: 20px;
    border-radius: 16px;
    align-items: center;
    box-shadow: 8px 8px 0px 0px rgba(14, 14, 14, 0.562);
}

.form .user_input {
    margin-top: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.form .user_input input {
    color: #f2f2f2;
    background: none;
    font-size: 16px;
    padding: 5px;
    border: 2px solid #f2f2f2;
    border-radius: 8px;
    outline: #f2f2f2;
}

.form .user_input input:focus {
    background-color: #f2f2f2;
    border: 2px solid #f2f2f2;
    color: #131313;
}

.form .user_submit {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form .user_submit p {
    text-align: center;
    margin: 10px 0;
}

.user_submit input[type="submit"] {
    color: #131313;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #f2f2f2;
    border-radius: 4px;
    border: 2px solid #f2f2f2;
    font-weight: 700;
}

.user_submit input[type="submit"]:hover {
    background-color: #d3d3d3;
    border: 2px solid #d3d3d3;
}

.user_msg .msg_erro {
    color: red;
    display: none;
}

.user_msg .msg_sucess {
    color: greenyellow;
    display: none;
}

@media (min-width: 600px) {
    .form {
        width: 50%;
    }

    .form .user_input {
        width: 80%;
    }
}

@media (min-width: 1000px) {
    .form {
        width: 30%;
    }
}